In [10]:
import pandas as pd

In [11]:
oof_test_preds_lgb = pd.read_csv("/home/ubuntu/ml-competition-template-titanic/data/output/sub_20221231124321_0.1518330944974186.csv")
oof_test_preds_xgb = pd.read_csv("/home/ubuntu/ml-competition-template-titanic/data/output/sub_20230102130253_0.2828006.csv")

In [12]:
oof_test_preds_lgb.shape

(892816, 2)

In [13]:
oof_test_preds_xgb.shape

(892816, 2)

In [20]:
oof_test_preds_lgb.tail()

             id    target
892811  1488022  0.082508
892812  1488023  0.043832
892813  1488024  0.035111
892814  1488025  0.023136
892815  1488026  0.030096

In [21]:
oof_test_preds_xgb.tail()

             id    target
892811  1488022  0.127960
892812  1488023  0.066172
892813  1488024  0.057126
892814  1488025  0.033959
892815  1488026  0.043852

In [22]:
submission = pd.read_csv("/home/ubuntu/ml-competition-template-titanic/data/input/sample_submission.csv")

In [23]:
submission.shape

(892816, 2)

In [26]:
oof_test_preds = oof_test_preds_lgb["target"] * 0.6 + oof_test_preds_xgb["target"] * 0.4
submission['target'] = oof_test_preds
submission.to_csv('submission.csv', index=False)

In [27]:
submission.head()

   id    target
0   0  0.029747
1   1  0.032928
2   2  0.031211
3   3  0.017389
4   4  0.043617

In [28]:
submission.tail()

             id    target
892811  1488022  0.100689
892812  1488023  0.052768
892813  1488024  0.043917
892814  1488025  0.027465
892815  1488026  0.035599

In [17]:
submission.shape

(892816, 1)